<div class="container">
  <hr class="col-md-8 col-md-offset-2">
  <div class="col-md-offset-2 col-md-8">
    <input type="text"  placeholder="Prénom" style="width: 100px" [(ngModel)]="searchFirstname"/>
    <input type="text"  placeholder="Email" style="width: 100px" [(ngModel)]="searchEmail"/>
  </div>
  <table class="table">
    <thead>
      <td>Clients</td>
      <td>Email</td>
      <td>Date de Naissance</td>
      <td>Adresse</td>
      <td>Pays</td>
    </thead>
    <tbody *ngFor="let user of users | userFilter:searchFirstname:searchEmail:searchApikey">
      <tr *ngIf="user.roles == 'ROLE_USER'">
        <td><strong>{{user.firstname}} {{user.lastname}}</strong></td>
        <td>{{user.email}}</td>
        <td>{{user.birthDate}}</td>
        <td>{{user.adress}}</td>
        <td>{{user.country}}</td>
        <td><a [routerLink]="['/edituser', user.id]"><i class="fa fa-pencil"></i></a></td>
        <td><i class="fa fa-trash-o" (click)="deleteUser(user.id)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
