<div class="container"><h3>Données Personnelles</h3>
<p>Vous pouvez consulter ce site sans révéler votre identité ou donner la moindre information vous concernant.

  Les informations que vous nous communiquerez seront considérées comme non confidentielles et pourront être librement utilisées et diffusées par E-Motion, sous réserve des dispositions légales applicables et notamment de la Loi " Informatique et Libertés " n°78-17 du 6 janvier 1978 ainsi que des dispositions sur le secret bancaire.

  Dans un souci particulier de transparence et de protection de vos droits, E-Motion ne se procurera pas des informations permettant de vous identifier personnellement sauf à ce que vous nous les communiquiez en remplissant et en nous adressant les formulaires figurant sur le site.

  Les informations recueillies vous concernant sont indispensables pour répondre à vos demandes d'information, prise de rendez-vous, etc. Aucune exploitation commerciale, même partielle, des données recueillies ne pourra être effectuée sans l'accord préalable et écrit de E-Motion.

  Ces informations sont confidentielles et conservées par E-Motion.

  Conformément à l'article 34 de la Loi " Informatique et Libertés " n°78-17 du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification des données vous concernant en nous contactant.</p>
</div>
