<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/EMotion36434255"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://www.instagram.com/emotion256/?hl=fr"><i class="fa fa-instagram fa-2"></i></a>
								<a href="https://github.com/space-cowboy-s/eMotionAngular"><i class="fa fa-github fa-2"></i></a>
								<a href="https://www.facebook.com/E-Motion-111230626906130/"><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-7 col-md-offset-2 widget">
						<h3 class="widget-title">En quelques mots ...</h3>
						<div class="widget-body">
							<p>e-Motion est un loueur de scooters et voitures électriques basé à Paris et Lyon. L’entreprise réalise un CA de 15 M€, emploie 50 personnes dans ses différents services, et s’appuie sur un réseau de revendeurs répartis sur l’ensemble du territoire français.Ses bureaux sont à Paris, où se situe son siège social, et à Lyon où une succursale démarre son activité.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a [routerLink]="['/']">Home</a> |
								<a [routerLink]="['/contact']">Contact</a> |
                <a [routerLink]="['/legal']">Mentions légales</a> |
                <a [routerLink]="['/rgpd']">Données personnelles</a> |
                <a [routerLink]="['/condition']">CGL</a>
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>
