<div class="container">
  <hr class="col-md-8 col-md-offset-2">
  <div class="col-md-offset-2 col-md-8">
    <input type="text" placeholder="Marque" style="width: 100px" [(ngModel)]="searchBrand"/>
    <input type="text" placeholder="Modèle" style="width: 100px" [(ngModel)]="searchModel"/>
    <input type="text" placeholder="Couleur" style="width: 100px" [(ngModel)]="searchColor"/>
  </div>
  <div *ngFor="let car of cars | carFilter:searchBrand:searchModel:searchColor">
    <hr class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <strong>{{car.brand}} {{car.model}}</strong>
        <p>{{car.color}}</p>
        <p><i class="fa fa-tachometer"></i> Kilométrage : {{car.numberKilometers}} km</p>
        <p>Date d'achat : {{car.purchaseDate}}</p>
        <p>Prix : {{car.bail}} € / jour</p>
      </div>
      <div class="col-md-4">
        <img src="/assets/car_default.jpg"/>
        <a class="btn" [routerLink]="['/contrat', car.id]">Réserver</a>
      </div>
    </div>
  </div>
</div>
