<div class="navbar navbar-inverse" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div id="glowing_title">
                <p><a [routerLink]="['/']">
                    E-Motion
                </a></p>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a [routerLink]="['/']">Accueil</a></li>
                <li><a [routerLink]="['/listcars']">Locations</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
                <li><a class="btn" [routerLink]="['/signup']">SIGN IN / SIGN UP</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<img src="/assets/car_bandeau.jpg" width="100%">
