<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <form name="form" (ngSubmit)="signup()" [formGroup]="signupForm" novalidate id="form_signin">
      <div class="form-group">
        <label for="email">Identifiant</label>
        <input type="mail" class="form-control" formControlName="email" id="email"  placeholder='Saisissez votre adresse mail' required />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" formControlName="password" id="password"  placeholder='Saisissez votre mot de passe' required />
      </div>
      <div class="form-group"  >
        <label for="passwordValid">Vérification du mot de passe</label>
        <input type="password" class="form-control" formControlName="passwordValid" id="passwordValid"  placeholder="Saisissez à nouveau votre mot de passe" required />
      </div>
      <div class="form-group"  >
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="Nom" required />
      </div>
      <div class="form-group"  >
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" formControlName="firstname" id="firstname"  placeholder="Prénom" required />
      </div>
      <div class="form-group">
        <label for="birthdate">Date de naissance</label>
        <input type="date" class="form-control datepicker" formControlName="birthDate" id="birthdate" required />
      </div>
      <div class="form-group">
        <label for="Country">Pays</label>
        <input type="text" class="form-control" formControlName="country" id="Country" placeholder="Pays"/>
      </div>
      <div class="form-group">
        <label for="adress">Adresse</label>
        <input type="text" class="form-control" formControlName="adress" id="adress" placeholder="Adresse"/>
      </div>
      <div class="form-group">
        <label for="phone">Téléphone</label>
        <input type="text" class="form-control" formControlName="phone" id="phone"  placeholder="Téléphone"/>
      </div>
      <div class="form-group">
        <label for="driverLicence">Numéro de permis de conduire</label>
        <input type="text" class="form-control" formControlName="driverLicence" id="driverLicence" placeholder="Numéro de permis de conduire"/>
      </div>
      <div class="form-group">
        <a class="btn" [routerLink]="['/signin']">J'ai déjà un compte</a>
        <button class="btn btn-primary pull-right">Valider</button>
      </div>
    </form>
    <hr>
  </div>
</div>
